.form-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.park{
    display: none;
}

.card{
    background-color: #2a8b8b;
}

@media only screen and (max-width: 1000px) {
    .form-modal{
        width: 90%;
    }
}